* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
    overflow-y: hidden;
    -webkit-overflow-x: hidden;
    -webkit-overflow-y: hidden;
}

.loader{
    position: absolute;
    min-width: fit-content;
    width: 100%;
    height: 100vh;
    background: rgb(20, 20, 20);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: disappearPage 1s 7s forwards;
    -webkit-animation: disappearPage 1s 7s forwards;
    -o-animation: disappearPage 1s 7s forwards;
    -ms-animation: disappearPage 1s 7s forwards;
    -moz-animation:disappearPage 1s 7s forwards;
    overflow-x: hidden;
    overflow-y: hidden;
    -webkit-overflow-x: hidden;
    -webkit-overflow-y: hidden;
}


.number-percent-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: fit-content;
    animation: numberPercentWrapper 1s 5500ms forwards;
}

.scale-number{
    display: flex;
    justify-content: center;
    align-content: center;
    width:fit-content;
    height: 200px;
    margin-top: 20px;
    margin-left: 5px;
    /* background: rgb(224, 215, 215); */
    background: linear-gradient(rgb(20, 20, 20), white, rgb(20, 20, 20));
    z-index: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    -webkit-overflow-x: hidden;
    -webkit-overflow-y: hidden;
    animation: scaleNumberDissapear 1s 5500ms forwards;
}

.scale-number ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: Loader100Percent 4s 1500ms forwards;
}

.percent-p{
    /* position: absolute; */
    width: fit-content;
    height: fit-content;
    margin-bottom: 14px;
    font-size: 40px;
    right: 20px;
    color: #ffffff;
    opacity: 0;
    animation: percentP 1000ms 5500ms forwards;
}

.scale-number li{
    font-size: 27px;
    list-style: none;
}

#percent-100{
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 5px; */
    color: #c50404;
    font-weight: bold;
    font-size: 30px;
    animation: percent100 1000ms 5500ms forwards;
}

.percent-line{
    width: 10px;
    height: 2px;
    background-color: #c50404;
}

#percent-100 p{
    margin: 0 5px;
}



.circle-compass-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.compass{
    position: absolute;
    width:20px;
    height: 100px;
}

.compass-arrow-1 {
    display: flex;
    justify-content: center;
    width: 20px;
    height: 450px;
    background-color: #c50404;
    /* box-shadow: 10px 2px 20px 1px rgb(54, 53, 53); */
    border-bottom: 70px solid #084669;
    z-index: 1;
    transform: rotateZ(0);
    animation: compassArrow1 5700ms forwards;
}

.compass-arrow-1::before{
    content: "";
    width: 14px;
    height: 14px;
    top:-8px;
    /* background-color: #084669; */
    background: #c50404;
    position: absolute;
    transform: rotateZ(45deg);
    z-index: 0;
}

.compass-arrow-1::after {
    content: "";
    width: 30px;
    height: 30px;
    bottom: -80px;
    background: #084669;
    border-radius: 10px 10px 0 0;
    position: absolute;
    z-index: 0;
}


.compass-arrow-2 {
    display: flex;
    justify-content: center;
    width: 20px;
    height: 370px;
    background-color: #1f08a3;
    border-top: 50px solid #ee0303;
    transform: rotateZ(45deg);
    animation: compassArrow2 4500ms forwards;
    z-index: 1;
}

.compass-arrow-2::before {
    content: "";
    top: -102px;
    /* background-color: #084669; */
    border-top: 0px solid #140f30;
    border-left: 10px solid transparent;
    border-bottom: 50px solid #ee0303;;
    border-right: 10px solid transparent;
    position: absolute;
    z-index: 0;
    animation: compassArrow2Before 50ms 5700ms forwards;
}

.compass-arrow-2::after {
    content: "";
    bottom: -52px;
    /* background-color: #084669; */
    border-top: 50px solid #1f08a3;
    border-left: 10px solid transparent;
    border-bottom: 0px solid #140f30;
    border-right: 10px solid transparent;
    position: absolute;
    z-index: 0;
    animation: compassArrow2After 50ms 5700ms forwards;
}



.circle {
    display: flex;
    width: 350px;
    height: 350px;
    margin: 20px 50px;
    /*   background:#7ea5cc; */
    /*   background:linear-gradient(#e66465, #9198e5); */
    /*   background:linear-gradient(#9198e5, #e66465); */
    /*   background:linear-gradient(#360115, #9198e5, #a12a2b); */
    /*   background:linear-gradient(#9198e5, #170a0f, #170a0f); */
    /*   background:linear-gradient(#80458c, #000024); */
    /*   background:linear-gradient(#e66465, #000024); */
    /*   background:linear-gradient(#5963cf, #f03536); */
    background: linear-gradient(#9198e5, #140f30);
    background: linear-gradient(#9198e5, #f03536);
    border: 5px solid rgb(60, 34, 179);
    border-radius: 50%;
    position: relative;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: hidden;
    -webkit-overflow-x: hidden;
    -webkit-overflow-y: hidden;
    z-index: 2;
}

.curtain{
    position: absolute;
    width:50%;
    height: 50%;
    z-index: 7;
}

.curtain-1{
    width:100%;
    height: 100%;
    top:0;
    /* left:50%; */
    transform: rotateZ(-25deg) translateY(50%);
    /* transform-origin: bottom right; */
    background-color: #2d8fc7;
    opacity: 1;
    animation: curtain1 1200ms linear forwards;
}

.curtain-2 {
    width: 100%;
    height: 100%;
    bottom: 0;
    /* right: 50%; */
    transform: rotateZ(-25deg) translateY(-50%);
    /* transform-origin: top left; */
    background-color: #5135f0;
    opacity: 1;
    animation: curtain2 1200ms linear forwards;
}




.light-line{
    width: 500px;
    height: 150px;
    /* background: blue; */
    position: absolute;
    z-index: 1;
    transform-origin: top right;
}

.light-line-1 {
    top: 20px;
    transform: rotateX(50deg);
    
}

.light-line-2 {
    top: 20px;
    transform: rotateX(0deg);
}

.light-line-3 {
    top: 20px;
    transform: rotateX(30deg);
}

.light {
    left: -110px;
    bottom: -20px;
    border-radius: 50% 250% 0% 100%;
    transform: rotate(-45deg);
    border-right: 1px solid white;
    box-shadow: -5px -17px 15px 2px white;
    z-index: 2;
    transform-origin: top right;
    animation: light2Move 4s infinite;
}

.light-1{
    animation: light1Move 15s infinite;
}


.waves-line, .waves-cover{
    display: flex;
    width: 1000px;
    height: 150px;
    background: linear-gradient( rgb(5, 5, 219), #9198e5);
    position: absolute;
    animation: wavelinesMove 4s linear infinite, wavelinesShadow 4s linear infinite;
}

.waves-line-1,  .waves-cover-1{
    bottom: -100px;
    left:0;
    z-index: 3;
}

.waves-line-2, .waves-cover-2 {
    bottom: -50px;
    left: -10px;
    z-index: 2;
}

.waves-line-3, .waves-cover-3 {
    bottom: -30px;
    left: -50px;
    z-index: 0;
}


.waves {
    top:-15px;
    width:110px;
    height:70px;
    border-radius: 30% 50%;
    border-top:1px solid rgb(255, 255, 255);
    background: rgb(5, 5, 219);
    position: absolute;
    z-index: 0;
    
}

.wave-far{
    top: -15px;
    animation: waveFarMoves 3s linear infinite;
}

.wave-close{
    top:-20px;
    animation: waveCloseMoves 4s linear infinite;
}

.wave-1{
    left:0px;
}

.wave-2 {
    left: 100px;
}

.wave-3 {
    left: 200px;
}

.wave-4 {
    left: 300px;
}

.wave-5 {
    left: 400px;
}
.wave-6 {
    left: 500px;
}

.wave-7 {
    left: 600px;
}

.wave-8 {
    left: 700px;
}

.wave-9 {
    left: 800px;
}

.wave-10 {
    left: 900px;
}


.wave-shadow{
    position: absolute;
    top: 0px;
    width: 70px;
    height: 35px;
    border-radius: 0px 0 25px 25px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: -4px 10px 50px 0px white,
                inset 0px -4px 20px 0px white;
    background: blue;
    animation: waveShadowMove 2s linear infinite;
}




@keyframes waveShadowMove {
    0% {
        border-radius: 150px 50px;
        border: none;
    }

    60% {
        top: 0px;
        border-radius: 50px 20px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }

    100% {
        border-radius: 70px 20px;
    }
}


.boat-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    left: 10px;
    animation: boatMove 2s infinite;
}

.boat {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 100px;
    background: #6e3a01;
    bottom: -65px;
    position: absolute;
    border-radius: 0% 0% 150% 120px;
    border-top: 5px solid #3b2002;
    overflow-x: hidden;
    overflow-y: hidden;
    -webkit-overflow-x: hidden;
    -webkit-overflow-y: hidden;
    z-index: 4;
}

.boat-lines {
    position: absolute;
    width: 100%;
    height: 5px;
    background: #3b2002;
}

.boat-line-2 {
    bottom: 70px;
}

.sail {
    position: relative;
    height: 190px;
    width: 10px;
    background: #694217;
    bottom: -5px;
    right: -10px;
}

.mainsail {
    position: relative;
    width: 150px;
    height: 130px;
    background: transparent;
    border-right: 50px solid white;
    border-radius: 50px 270px 100px 170px;
    transform: rotate(19deg);
    left: -80px;
    top: 2px;
    animation: mainsail 2s infinite;
}


@keyframes numberPercentWrapper {
    0% {
        margin-bottom: 10px;
    }
    100% {
        margin-bottom: 10px;
    }
}

@keyframes scaleNumberDissapear {
    0%{
        background: transparent;
        color: rgb(20, 20, 20);
    }
    100%{
        background: transparent;
        color: rgb(20, 20, 20);
    }
}

@keyframes Loader100Percent {
    0%{
        transform: translateY(0px);
    }
    5%{
        transform: translateY(-370px);
    }
    10%{
        transform: translateY(-780px);
    }
    30%{
        transform: translateY(-870px);
    }
    50% {
        transform: translateY(-750px);
    }
    60% {
        transform: translateY(-870px);
    }
    75% {
        transform: translateY(-800px);
    }
    80% {
        transform: translateY(-840px);
    }
    90% {
        transform: translateY(-830px);
    }
    100% {
        transform: translateY(-840px);
    }
}

@keyframes percent100 {
    0%{
        color: #ffffff;
        font-size: 40px;
        width: 70px;
        height: auto;
        opacity: 0.8;
    }
    100%{
        color: #ffffff;
        font-size: 40px;
        width: 70px;
        height: auto;
        opacity: 1;
    }
}

@keyframes percentP {
    0%{
        opacity: 0.8;
        margin-bottom: 14px;
    }
    100%{
        opacity: 1;
        margin-bottom: 14px;
    }
}


@keyframes compassArrow1 {
    0%{
        transform: rotateZ(0);
    }
    68%{
        transform: rotateZ(15deg);
    }
    73%{
        transform: rotateZ(100deg);
    }
    78%{
        transform: rotateZ(80deg);
    }
    80% {
        transform: rotateZ(85deg);
    }
    83% {
        transform: rotateZ(87deg);
    }
    100% {
        transform: rotateZ(85deg);
    }
}

@keyframes compassArrow2 {
    0% {
        transform: rotateZ(45deg);
    }
    10% {
        transform: rotateZ(-15deg);
    }
    20%{
        transform: rotateZ(-5deg);
    }
    30%{
        transform: rotateZ(420deg);
    }
    55%{
        transform: rotateZ(220deg);
    }
    65%{
        transform: rotateZ(410deg);
    }
    75%{
        transform: rotateZ(390deg);
    }
    100%{
        transform: rotateZ(405deg);
    }
}


@keyframes curtain1 {
    0% {
        transform: rotateZ(-25deg) translateY(50%);
    }

    25% {
        transform: rotateZ(0deg) translateY(-50%);
        opacity: 1;
    }
    50%{
        transform: rotateZ(45deg) translateY(-50%);
        opacity: 1;
    }
    75%{
        transform: rotateZ(-25deg)translateY(-50%);
        opacity: 1;
    }
    100%{
        transform: rotateZ(-25deg)translateY(-100%);
    }
}

@keyframes curtain2 {
    0% {
        transform: rotateZ(-25deg) translateY(-50%);
        opacity: 0.7;
    }

    25% {
        transform: rotateZ(0deg) translateY(50%);
        opacity: 1;
    }
    50% {
        transform: rotateZ(45deg)translateY(50%);
        opacity: 1;
    }
    75%{
        transform: rotateZ(-25deg)translateY(50%);
        opacity: 1;
    }
    100%{
        transform: rotateZ(-25deg) translateY(100%);
    }
}




@keyframes light1Move {
    0% {
        transform: rotate(-20deg);
        box-shadow: 50px -2px 20px 1px white;
    }

    35% {
        transform: rotate(-30deg);
        box-shadow: -5px -2px 30px 5px rgb(255, 255, 255);
    }

    55% {
        transform: rotate(-55deg);
        box-shadow: 1px 10px 20px 1px white;
        
    }

    85% {
        transform: rotate(-30deg);
        box-shadow: 1px 10px 20px 3px white;
    }

    100% {
        transform: rotate(-15deg);
        box-shadow: 1px -10px 20px 2px white;
    }
}



@keyframes light2Move {
    0% {
        transform: rotate(-25deg);
        box-shadow: 10px -2px 10px 1px white;
    }

    35% {
        transform: rotate(-30deg);
        box-shadow: 1px 1px 10px 1px white;
    }

    55% {
        transform: rotate(-30deg);
        box-shadow: 1px 10px 20px 1px white;
    }
    85% {
        /* transform: rotate(-25deg); */
        box-shadow: 1px 10px 20px 4px white;
    }
    100% {
        transform: rotate(-25deg);
        box-shadow: 1px -10px 15px 1px white;
    }
}



@keyframes wavelinesMove {
    0%{
        transform: translate(0px);
    }
    100%{
        transform: translate(-600px);
    }
}

@keyframes wavelinesShadow {
    0% {
        box-shadow: 
        0px 2px 10px 10px rgb(239, 239, 241),
        inset 0px 2px 20px 10px rgb(239, 239, 240);
    }

    100% {
        box-shadow:
        0px 2px 10px 10px rgb(255, 255, 255),
        inset 0px 2px 20px 10px rgb(255, 255, 255);
    }
}


@keyframes waveFarMoves {
    0% {
        top: -5px;
        height: 170px;
        border-radius: 150px 50px 20px 20px;
        transform: translateX(50px);
    }

    30% {
        top: 5px;
        width: 170px;
        height: 170px;
        border-radius: 10% 150% 0% 50%;
        box-shadow: inset 2px 2px 10px white,
            -1px 1px 1px 2px rgb(255, 255, 255);
        transform: rotateZ(20deg);
    }

    60% {
        top: 0px;
        width: 150px;
        height: 110px;
        border-radius: 150% 150% 0% 50%;
        box-shadow: inset 20px 1px 10px 20px white,
            -2px -5px 20px 10px rgb(255, 255, 255);
        transform: rotateZ(-10deg);
        transform: translateX(0px);
    }

    80% {
        top: 5px;
        border-radius: 50% 100% 0% 150%;
        box-shadow: inset 0px 10px 20px 2px white,
            0px 2px 20px 10px white;
    }

    100% {
        top: 5px;
        border-radius: 150px 150px 0% 0%;
        box-shadow: inset 0px 0px 20px 2px rgb(255, 255, 255),
            -20px 0px 20px 10px white;
    }
}

@keyframes waveCloseMoves {
    0% {
        top: 0px;
        width: 110px;
        height: 70px;
        border-radius: 150px 0px 150px 0px;
    }
    30%{
        top: -25px;
        height: 170px;
        border-radius: 150px 50px 20px 20px;
    }
    60% {
        top: -15px;
        width: 170px;
        height: 170px;
        border-radius: 10% 150% 0% 50%;;
        box-shadow: inset 20px 5px 20px white,
                    -10px 5px 10px 2px white;
        transform: rotateZ(20deg);
    }

    80% {
        top: -5px;
        width: 370px;
        height: 110px;
        border-radius: 150% 150% 0% 50%;
        box-shadow: inset 20px 10px 10px white,
                    -2px -5px 20px 2px white;
        transform: rotateZ(-10deg);
    }
    90%{
        top: 0px;
        border-radius: 50% 100% 0% 150%;
        box-shadow: inset 20px 10px 10px white,
            -20px -20px 10px 2px white;
    }
    100% {
        top: 0px;
        border-radius: 150px 150px 0% 0%;
        box-shadow: inset 20px 10px 20px white,
            -20px 10px 30px 2px white;
    }
}





@keyframes boatMove {
    0% {
        transform: rotate(10)
    }

    50% {
        transform: rotate(5deg);
    }

    100% {
        transform: rotate(-10deg);
    }
}


@keyframes mainsail {
    0% {
        width: 150px;
        height: 130px;
    }

    25% {
        width: 170px;
        height: 115px;
        border-radius: 50px 200px 10px 10px;
        transform: rotate(30deg);
        top: 4px;
        left: -95px;
    }

    60% {
        width: 150px;
        height: 110px;
        top: 7px;
        left: -80px;
        border-radius: 50px 200px 10px 70px;
        transform: rotate(35deg);
    }

    75% {
        width: 170px;
        height: 120px;
        border-radius: 10px 200px 70px 70px;
        transform: rotate(25deg);
        top: -2px;
        left: -110px;
        border-right: 20px solid white;
    }

    100% {
        width: 170px;
        height: 130px;
        top: 2px;
        left: -90px;
    }
}

@keyframes disappearPage {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        display: none;
    }
}